/*body {    
    background-image: url("images/login/loginBac.jpg");;    
    background-size: 100%;    
    background-repeat: no-repeat;
} */
#login_frame {    
    width: 400px;    
    height: 260px;    
    padding: 13px;     
    position: absolute;    
    left: 50%;    
    top: 50%;    
    margin-left: -200px;    
    margin-top: -200px;     
    background-color: rgba(240, 255, 255, 0.5);     
    border-radius: 10px;    
    text-align: center;
} 
form p > * {    
    display: inline-block;    
    vertical-align: middle;
}

.text_field {    
    width: 278px;    
    height: 28px;
    border-top-left-radius: 5px;    
    border-top-right-radius: 5px;    
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;    
    border: 0;
    opacity: 0.5;
} 
.btn_login {    
    font-size: 14px;    
    font-family: YouYuan;
    width: 160px;    
    height: 28px;    
    line-height: 28px;   
    margin-right: 10px; 
    text-align: center;     
    color: white;    
    background-color: #9ACD32;    
    border-radius: 6px;    
    border: 0;     
    float: left;
} 

.btn_login:hover {
    background-color: #8E8E38;
}


/*active 要在后面 否则会被hover覆盖*/


.btn_login:active {
    background-color: #000000;
}

.btn_regist {    
    font-size: 14px;    
    font-family: 宋体;     
    width: 120px;    
    height: 28px;    
    line-height: 28px;   
    margin-right: 10px; 
    text-align: center;     
    color: white;    
    background-color: #9ACD32;    
    border-radius: 6px;    
    border: 0;     
    float:middle;
} 

.btn_regist:hover {
    background-color: #8E8E38;
}


/*active 要在后面 否则会被hover覆盖*/


.btn_regist:active {
    background-color: #000000;
}



#forget_pwd {    
    font-size: 12px;    
    color: white;    
    text-decoration: none;    
    position: relative;    
    float: right;    
    top: 5px; 
} 
#forget_pwd:hover {    
    color: blue;    
    text-decoration: underline;
} 
#login_control {    
    padding: 28px;
}
#return_tiku {    
    font-size: 15px;    
    color: white;    
    text-decoration: none;    
    position: relative;    
    float: right;    
    top: 5px; 
} 
#return_tiku:hover {    
    color:#7A991A;    
    text-decoration: underline;
    font-size: 14px;
} 


.header{
    position:absolute;
    top:200px;
    left:100px;
    }
    
    .header ul{
    list-style-type:none;
    margin-top:100px;
    }
    .header li{
    margin-top:20px;
    margin-right:100px;
    vertical-align:middle;
    padding:70px;
    
    float:left;
    
    }
    .header a:link,a:visited
    {
    font-weight:bold;
    color:#FFFFFF;
    background-color:#98bf21;
    text-align:center;
    padding:20px;
    text-decoration:none;
    text-transform:uppercase;
    }
    .header a:hover,a:active
    {
    background-color:#7A991A;
    }
    /*h1
    {
    position: relative;
    left:50%;
    text-align: center;
    }*/
    