*{
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
/*html{
    height:100%;
}*/
body {
    /*height: 100%;*/
    margin: 0 auto;
    background-color: #000;
    text-align: center;
    outline: 0;
    padding: 0;
  /*margin: 0;*/
    border: 0;
}
.secondbg {
    color:#FFFFFF;
    background-color: #FFFFFF;
    width:85%;
    height: 100%;
    margin:0 auto;
    text-align:center;
    }
.first_title{
    width: 100%;
    height: 25px;
}

.leixing {
    font-family: "YouYuan";
    margin: 0px;
    padding: 15px;
    text-align: center;
}
.left {
    font-family: "YouYuan";
    margin: 10px;
    padding: 10px;
    width:40%;
    height:300px;
    display:inline-block;
    background-color: rgb(83, 83, 81);
    text-align: center;
    border-radius: 12px;    
    border: 0;  
}
.huixian{
    background-color: black;
    width: 90%;
    margin:0 auto;
    height:5px;

}
.little_left {
    font-family: "YouYuan";
    margin: 10px;
    padding: 2px;
    width:40%;
    height:60px;
    display:inline-block;
    background-color: rgb(225, 228, 227);
    text-align: center;
    border-radius: 5px;    
    border: 0;  
}
.little_left:hover{
    background-color: rgb(164, 168, 167);

}
.little_left:active{
    background-color: rgb(103, 105, 105);

}
.header{
    top:200px;
    left:100px;
    }
    
    .header ul{
    list-style-type:none;
    margin-top:100px;
    }
    .header li{
    margin-top:20px;
    margin-right:100px;
    vertical-align:middle;
    padding:70px;
    
    float:left;
    
    }
    .header a:link,a:visited
    {
    font-weight:bold;
    color:#FFFFFF;
    background-color:#4e4e4c;
    text-align:center;
    padding:20px;
    text-decoration:none;
    text-transform:uppercase;
    }
    .header a:hover,a:active
    {
    background-color:#7A991A;
    }
.nianji{
    margin-bottom: 5px;
    color: #FFFFFF;
    font-family: YouYuan;
    size: 6;
}
.leixing {
    font-family: "YouYuan";
    margin: 0px;
    padding: 15px;
    height: 50px;
}