/* stu_info.css */
/* 学生个人中心页面样式 */


*{
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    min-height:100%;
}
body {
    min-height: 100%;
    margin: 0 ;
    background-color: #000;
    text-align: center;
    outline: 0;
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
    background-image:url(./image/stu_info.jpg)  no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
}
.secondbg {
    color:#FFFFFF;
    background-color: #FFFFFF;
    width:85%;
    height: 100%;
    margin:0 auto;
    text-align:center;
    opacity: 0.9;
    }

/* 最上方的返回题库块 */
.first_title{
    width: 100%;
    height: 25px;
}
/* 返回题库按钮 */
#return_tiku {
    margin: 4px;
    height: 30px;
    width: 100px;
    border-radius: 6px;
    background-color: rgb(225, 228, 227);
    color: #000;
    text-align: center;
    cursor: pointer;
    size: 10px;
}
#return_tiku:hover{
    background-color: rgb(164, 168, 167);

}
#return_tiku:active{
    background-color: rgb(103, 105, 105);

}

/* 大标题 */
.leixing {
    font-family: "YouYuan";
    margin: 0px;
    padding: 5px;
}

/* 灰线 */
.huixian{
    background-color: black;
    width: 95%;
    margin:0 auto;
    padding:0;
    height:5px;
}

/* 显示学生信息的并列块 */
.user_mes{
    width:30%;
    float:left;
    overflow: hidden;
    height: 30px;
    line-height: 20px;
    text-align: left;
    color: #000;
    padding: 6px;
}

/* 个人中心块 */
#personal_center{
    width: 100%;
    height: 40px;
    margin:5px;
    padding: 5px;
}

/* 显示用户信息（姓名、班级、学号）的块 */
.usermessage{
    width: 95%;
    height: 45px;
    margin: 0 auto; 
    /* text-align: center; */
}
/* 显示用户信息（姓名、班级、学号）的地方 */
#p_name{
    color: #000;
}
#p_number{
    color: #000;
}
#p_class{
    color: #000;
}

/* 显示总信息的块 */
#show_mes{
    margin: 10px;
    text-align: center;
    height: 80px;
    width: 30%;
    padding: 5px;
    display: inline-block;
    font-family: "YouYuan";
    vertical-align: top;
   
}
/* 总信息显示按钮 */
.btn_show{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(185, 181, 181);
    color:#fff;
    text-align: center;
    font-family: "YouYuan";
    font-size: 20px;
    vertical-align: top;
 }
 .btn_show:hover{
     background-color: rgb(164, 168, 167);
 }
 .btn_show:active{
     background-color: rgb(103, 105, 105);
 }
 .btn_show:visited{
     background-color: rgb(103, 105, 105);
 }
 
/* 显示用户总做题信息的地方 */
#show_span1{
    color:#000;
    font-family: "YouYuan";
    font-size: 20px;
    height: 25px;
    vertical-align: top;
}
#show_span2{
    color:#000;
    font-family: "YouYuan";
    font-size: 20px;
    height: 25px;
    vertical-align: top;
}
#show_span3{
    color:#000;
    font-family: "YouYuan";
    font-size: 20px;
    height: 25px;
    vertical-align: top;
}

/* 显示详细信息的标题p */
.btn_show_rec{
   width: 100%;
   height: 35px;
   margin-top: 10px;
   padding: 5px;
   background-color: rgb(185, 181, 181);
   color:#fff;
   text-align: center;
   font-family: "YouYuan";
   font-size: 20px;
}
.btn_show_rec:hover{
    background-color: rgb(164, 168, 167);
}
.btn_show_rec:active{
    background-color: rgb(103, 105, 105);
}
.btn_show_rec:visited{
    background-color: rgb(164, 168, 167);
}

/* 显示详细信息的块 */
#show_record{
    margin: 10px auto;
    text-align: center;
    border: solid;
    height: 1000px;
    width: 95%;
    padding: 5px;
    font-family: "YouYuan";
   
}

/* 显示详细信息的块 */
#show_table{
    font-family: "YouYuan";
    margin: 0px;
    padding: 0px;
    width:100%;
    min-height:10px;
    /* display:inline-block; */
    text-align:right;   
    color: #000;
    border: 0;  
    vertical-align: top;
    text-align: center;
}

/* 每一学期的块 */
.xueqi_select {
    font-family: "YouYuan";
    margin: 5px;
    padding: 5px;
    width:20%;
    height:800px;
    display:inline-block;
    text-align: left;   
    border: 0;  
}
/* 小灰线 */
.mihuixian{
    width: 100%;
    margin:0 auto;
    padding:0;
    height:3px;
    background-color: #000;
}
/* 学期标题 */
.xueqi{
    margin-bottom: 5px;
    color: #000;
    font-family: YouYuan;
    width:100%;
    size: 4;
}


/* 单元选择按钮 */
.sel_grade{
    font-family: "YouYuan";
    margin: 5px;
    padding: 1px;
    width:60%;
    height:30px;
    display:inline-block;
    background-color: rgb(225, 228, 227);
    text-align: center;
    
    border: 0;  
}
.sel_grade:hover{
    background-color: rgb(164, 168, 167);

}
.sel_grade:active{
    background-color: rgb(103, 105, 105);

}

/* 显示表格的块 */
#show_table_div{
    font-family: "YouYuan";
    margin: 5px auto;
    padding: 5px;
    width:70%;
    min-height:400px;
    display:inline-block;
    text-align: center;   
    color: #000;
    border: 0;  
    vertical-align: top; 
    /* vertical-align:middle; */
}

/* 表格的格式 */
#right_table{
    font-family: "YouYuan";
    margin: 5px;
    padding: 5px;
    width:70%;
    min-height:400px;
    display:inline-block;
    text-align:right;   
    color: #000;
    border: 0;  
    vertical-align: top;
    text-align: center;
}

/* 表格的最小元素 */
.td_show{
    color: #000;
}

/* 表格的行、列 */
 table tr td{
    border:1px solid #fff;
    padding: 1;
}

/* 表格的奇偶行 */
table tr:nth-child(odd){

    background: #B9D3EE;
    
    }
table tr:nth-child(even){

        background:rgb(212, 232, 248);
        
    }

/* 总的表格格式 */
table { 
    width: 70%; 
    min-height: 30px; 
    line-height: 30px; 
    text-align: center; 
    border-collapse: collapse;
    font-family: "YouYuan";
} 

/* 表格的第一行 */
#firstrow{
    background-color: rgb(148, 183, 219);
    color: #FFFFFF;
}
