/* suanshi.css */
/* 做题页面样式 */


*{
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    min-height:100%;
}
body {
    min-height:100%;
    margin: 0 auto;
    background-color: #000;
    text-align: center;
    outline: 0;
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
    background-image:url(./image/sky.jpg)  no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
}
.secondbg {
    color:#FFFFFF;
    background-color: #FFFFFF;
    width:85%;
    height: 100%;
    margin:0 auto;
    text-align:center;
    opacity: 0.9;
}

/* 最上方的返回题库块 */
.first_title{
    clear: both;
    overflow: hidden;
    line-height: 45px;
    height: 45px;
    background-repeat: repeat-x;
    padding-right: 8px;
    padding-left: 8px;
}

/* 返回题库按钮 */
#return_tiku {
    margin: 4px;
    height: 30px;
    width: 100px;
    border-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgb(218, 183, 151);
    color: rgb(101, 40, 136);;
    text-align: center;
    cursor: pointer;
    size: 10px;
}
#return_tiku:hover{
    background-color: rgb(214, 149, 89);

}
#return_tiku:active{
    background-color: rgb(221, 112, 9);

}

/* “个人中心”标题 */
.leixing {
    font-family: "YouYuan";
    margin: 0px;
    padding: 15px;
    height: 35px;
}

/* 选择题目数的下拉列表 */
#shuju
li{
    width:33%;
    float:left;
    display: block;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
}

/* 显示题目内容的地方 */
 #neirong_ul
li{
    width:33%;
    display: inline-block;
    overflow: hidden;
    height: 30px;
    line-height: 20px;
} 

/* 提交试卷和换卷的按钮 */
.all_an_1 {    
    font-size: 14px;    
    font-family: "YouYuan";
    width: 120px;    
    height: 28px;    
    line-height: 28px;   
    margin-right: 10px; 
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;     
    color: white;    
    background-color: rgb(94, 95, 92);    
    border-radius: 6px;    
    border: 0;     
    float: center;
    cursor: pointer;
} 
.all_an_1:hover {
    background-color: rgb(51, 51, 50);
}
.all_an_1:active {
    background-color: #000000;
}

/* 主要模块 */
#main {
    text-align:center;
    align-content: center;
    align:center;
    
}

/* 用于分隔的灰线 */
.huixian{
    background-color: black;
    width: 95%;
    margin:0 auto;
    padding:0;
    height:5px;
}

/* 显示用时、题目数、正确率的块 */
#show_time{
    width: 95%;
    text-align: center;
    
    margin: 0 auto;
    padding: 10px;
    height: 30px;
}

/* 显示算式的块 */
#suanshi{
    width: 95%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    height: 600px;
}

/* 每个式子的显示 */
.shizi{
    width:100%;
    display: inline-block;
    overflow: hidden;
    height: 30px;
    line-height: 20px;
}

/* 答案输入框 */
input {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

/* 用时显示 */
#clock{
    color: #000;
}