
*{
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    min-height:100%;
}
body {
    min-height:100%;
    margin: 0 auto;
    background-color: #000;
    text-align: center;
    outline: 0;
    padding: 0;
  /*margin: 0;*/
    border: 0;
}
.secondbg {
    color:#FFFFFF;
    background-color: #FFFFFF;
    width:85%;
    height: 100%;
    margin:0 auto;
    text-align:center;
    }
.first_title{
    clear: both;
    overflow: hidden;
    line-height: 25px;
    height: 30px;
    background-repeat: repeat-x;
    /* background-position: 0 -162px; */
    /* border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #fff; */
    padding-right: 8px;
    padding-left: 8px;
}

.leixing {
    font-family: "YouYuan";
    margin: 0px;
    padding: 15px;
    height: 35px;
}

#shuju
li{
    width:33%;
    float:left;
    display: block;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
}

 #neirong_ul
li{
    width:33%;
    display: inline-block;
    overflow: hidden;
    height: 30px;
    line-height: 20px;
} 

/*input   {  
    FONT-SIZE:   12px;    
    height:100px; 
    line-height:100px;
  }  
input.text{
    text-align:center
}*/


.all_an_1 {    
    font-size: 14px;    
    font-family: 宋体;
    width: 120px;    
    height: 28px;    
    line-height: 28px;   
    margin-right: 10px; 
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;     
    color: white;    
    background-color: rgb(94, 95, 92);    
    border-radius: 6px;    
    border: 0;     
    float: center;
    cursor: pointer;
} 
.all_an_1:hover {
    background-color: rgb(51, 51, 50);
}


/*active 要在后面 否则会被hover覆盖*/


.all_an_1:active {
    background-color: #000000;
}

#main {
    text-align:center;
    align-content: center;
    align:center;
    
}
.huixian{
    background-color: black;
    width: 95%;
    margin:0 auto;
    padding:0;
    height:5px;
}
#show_time{
    width: 95%;
    text-align: center;
    
    margin: 0 auto;
    padding: 10px;
    height: 30px;
}
#suanshi{
    width: 95%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    height: 600px;
}
.shizi{
    width:100%;
    display: inline-block;
    overflow: hidden;
    height: 30px;
    line-height: 20px;
}
input {
    /* -webkit-writing-mode: horizontal-tb !important; */
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
#clock{
    color: #000;
}