*{
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    min-height:100%;
}
body {
    min-height: 100%;
    margin: 0 ;
    background-color: #000;
    text-align: center;
    outline: 0;
    padding: 0;
  /*margin: 0;*/
    border: 0;
    background-repeat: no-repeat;
    background-image:url(./image/stu_info.jpg)  no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
}
.secondbg {
    color:#FFFFFF;
    background-color: #FFFFFF;
    width:85%;
    height: 100%;
    margin:0 auto;
    text-align:center;
    opacity: 0.9;
    }

.first_title{
    width: 100%;
    height: 25px;
}

.leixing {
    font-family: "YouYuan";
    margin: 0px;
    padding: 5px;
}
.huixian{
    background-color: black;
    width: 95%;
    margin:0 auto;
    padding:0;
    height:5px;
}
.class{
    width: 95%;
    height: 200px;
    margin: 0 auto;
    /* text-align: left; */
}
.usermessage{
    width: 95%;
    height: 45px;
    margin: 0 auto; 
    /* text-align: center; */
}
.user_mes{
    width:30%;
    float:left;
    /* display: block; */
    overflow: hidden;
    height: 30px;
    line-height: 20px;
    text-align: left;
    color: #000;
    padding: 6px;
}
#personal_center{
    width: 100%;
    height: 40px;
    margin:5px;
    padding: 5px;
}

.btn_show{
   width: 100%;
   height: 35px;
   margin-top: 10px;
   padding: 5px;
   background-color: rgb(185, 181, 181);
   color:#fff;
   text-align: center;
   font-family: "YouYuan";
   font-size: 20px;
   vertical-align: top;
}
.btn_show:hover{
    background-color: rgb(164, 168, 167);
}
.btn_show:active{
    background-color: rgb(103, 105, 105);
}
.btn_show:visited{
    background-color: rgb(103, 105, 105);
}
#p_name{
    color: #000;
}
#span_number{
    color: #000;
}
#span_class{
    color: #000;
}
#show_span1{
    color:#000;
    font-family: "YouYuan";
    font-size: 20px;
    height: 25px;
    vertical-align: top;
}
#show_span2{
    color:#000;
    font-family: "YouYuan";
    font-size: 20px;
    height: 25px;
    vertical-align: top;
}
#show_span3{
    color:#000;
    font-family: "YouYuan";
    font-size: 20px;
    height: 25px;
    vertical-align: top;
}
#show_mes{
    margin: 10px;
    text-align: center;
    height: 80px;
    width: 30%;
    padding: 5px;
    display: inline-block;
    font-family: "YouYuan";
    vertical-align: top;
   
}
.btn_show_rec{
   width: 100%;
   height: 35px;
   margin-top: 10px;
   padding: 5px;
   background-color: rgb(185, 181, 181);
   color:#fff;
   text-align: center;
   font-family: "YouYuan";
   font-size: 20px;
}
.btn_show_rec:hover{
    background-color: rgb(164, 168, 167);
}
.btn_show_rec:active{
    background-color: rgb(103, 105, 105);
}
.btn_show_rec:visited{
    background-color: rgb(164, 168, 167);
}
#show_record{
    margin: 10px auto;
    text-align: start;
    border: solid;
    height: 1000px;
    width: 95%;
    padding: 5px;
    font-family: "YouYuan";
   
}

/* 显示详细信息的块 */
#stu_info{
    width:95%;
    margin:0 auto;
    text-align: center;
}
/* 显示详细信息的标题p */
.btn_show_rec{
   width: 100%;
   height: 35px;
   margin-top: 10px;
   padding: 5px;
   background-color: rgb(185, 181, 181);
   color:#fff;
   text-align: center;
   font-family: "YouYuan";
   font-size: 20px;
}
/* 每一学期的块 */
.xueqi_select {
    font-family: "YouYuan";
    margin: 5px;
    padding: 5px;
    width:20%;
    height:800px;
    display:inline-block;
    text-align: left;   
    border: 0;  
}
/* 小灰线 */
.mihuixian{
    width: 100%;
    margin:0 auto;
    padding:0;
    height:3px;
    background-color: #000;
}
/* 学期标题 */
.xueqi{
    margin-bottom: 5px;
    color: #000;
    font-family: YouYuan;
    width:100%;
    size: 4;
}
/* 显示详细信息的块 */
#show_table{
   text-align: left;
   padding-top: 0%;
}
/* 单元选择按钮 */
.sel_grade{
    font-family: "YouYuan";
    margin: 5px;
    padding: 1px;
    width:60%;
    height:30px;
    display:inline-block;
    background-color: rgb(225, 228, 227);
    text-align: center;
    
    border: 0;  
}
.sel_grade:hover{
    background-color: rgb(164, 168, 167);

}
.sel_grade:active{
    background-color: rgb(103, 105, 105);

}
#right_table{
    font-family: "YouYuan";
    margin: 5px;
    padding: 5px;
    width:75%;
    height:400px;
    display:inline-block;
    text-align: center;   
    color: #000;
    border: 0;  
}

.td_show{
    color: #000;
}
 table tr td{
    border:1px solid #fff;
    padding: 1;
}
table tr:nth-child(odd){

    background: #B9D3EE;
    
    }
table tr:nth-child(even){

        background:rgb(212, 232, 248);
        
    }
table { 
    width: 70%; 
    min-height: 30px; 
    line-height: 30px; 
    text-align: center; 
    border-collapse: collapse;
    font-family: "YouYuan";
    /* border-end-start-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
} 
#firstrow{
    background-color: rgb(148, 183, 219);
    color: #FFFFFF;
    /* border-end-start-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}
